{% extends 'base.html.twig' %}

{% block title %}Authorization{% endblock %}

{%block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/floating-labels.css') }}">
{% endblock %}

{% block body %}

    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>

        </div>

        <div class="form-label-group">
            <input type="email" id="login" class="form-control" placeholder="Login" required autofocus>
            <label for="login">Login</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="password" class="form-control" placeholder="Password" required>
            <label for="password">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="{{ path('registration_page') }}">Регистрация</a>
        <p class="mt-5 mb-3 text-muted text-center">&copy;Social Network 2018</p>
    </form>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}